# Data Preparation

### imports

In [1]:
import pandas as pd
# from datasets import DatasetDict, Dataset

### data prep

In [2]:
# data import
df = pd.read_csv("./tidy_1000_tweets_noindex.csv")
# Cleanings
# drop data
df = df.dropna()
df.head()

     labels                                               text
0   neutral                         virginamerica dhepburn say
1  positive  virginamerica plus add commercial experience t...
2   neutral  virginamerica not today must mean need take an...
3  negative  virginamerica really aggressive blast obnoxiou...
4  negative                 virginamerica really big bad thing

In [3]:
# swap columns
balanced_df = df[['text', 'labels']]
balanced_df.head()

                                                text    labels
0                         virginamerica dhepburn say   neutral
1  virginamerica plus add commercial experience t...  positive
2  virginamerica not today must mean need take an...   neutral
3  virginamerica really aggressive blast obnoxiou...  negative
4                 virginamerica really big bad thing  negative

In [4]:
from sklearn.preprocessing import LabelEncoder
labels = ['negative','neutral','positive']
# Encode Categorical Columns
le = LabelEncoder()
# balanced_df[labels] = balanced_df[labels].apply(le.fit_transform)
# le.fit_transform(balanced_df['labels'])
balanced_df['labels']=le.fit_transform(balanced_df['labels'])
balanced_df.head()

                                                text  labels
0                         virginamerica dhepburn say       1
1  virginamerica plus add commercial experience t...       2
2  virginamerica not today must mean need take an...       1
3  virginamerica really aggressive blast obnoxiou...       0
4                 virginamerica really big bad thing       0

In [5]:

# convert labels column to int
balanced_df['labels'] = balanced_df['labels'].astype(int)

# Shuffle the balanced dataset
# balanced_df = balanced_df.sample(frac=1, random_state=42).reset_index(drop=True)

# Cleanings
# drop data
# df = df.dropna()

# create dataframes from each class

df_negative = df[df['Label']=="negative"]
df_neutral = df[df['Label']=="neutral"]
df_positive = df[df['Label']=="positive"]

# define number of samples to keep
num_samples = 1500

Sample min_size rows from each class to ensure a 50-50 split
df_safe_sample = df_safe.sample(num_samples, random_state=42)
df_not_safe_sample = df_not_safe.sample(num_samples, random_state=42)

# replace "Email Type" with Boolean flag "isPhising"
df_safe_sample = df_safe_sample.assign(isPhishing=False)
df_safe_sample = df_safe_sample.drop('Label',axis=1)
df_not_safe_sample = df_not_safe_sample.assign(isPhishing=True)
df_not_safe_sample = df_not_safe_sample.drop('Label',axis=1)

Concatenate the samples to create a new balanced dataset
balanced_df = pd.concat([df_safe_sample, df_not_safe_sample])
balanced_df.columns = ['text', 'labels']

# convert labels column to int
balanced_df['labels'] = balanced_df['labels'].astype(int)

# Shuffle the balanced dataset
balanced_df = balanced_df.sample(frac=1, random_state=42).reset_index(drop=True)

In [6]:
# Split into train, validation, and test sets (e.g., 70% train, 15% validation, 15% test)

train_frac = 0.7
valid_frac = 0.15
test_frac = 0.15

# define train and validation size
train_size = int(train_frac * len(balanced_df))
valid_size = int(valid_frac * len(balanced_df))

# create train, validation, and test datasets
train_df = balanced_df[:train_size]
valid_df = balanced_df[train_size:train_size + valid_size]
test_df = balanced_df[train_size + valid_size:]

In [7]:
# export with pandas
import pandas as pd
train_df.to_csv("./data/train.csv", index = False)
test_df.to_csv("./data/test.csv", index = False)
valid_df.to_csv("./data/validation.csv", index = False)

# we can also do this with Datasets below
# train_ds.to_csv("./train.csv", index = False)
# test_ds.to_csv("./test.csv", index = False)
# valid_ds.to_csv("./validation.csv", index = False)

# Convert the pandas DataFrames back to Hugging Face Datasets
train_ds = Dataset.from_pandas(train_df)
valid_ds = Dataset.from_pandas(valid_df)
test_ds = Dataset.from_pandas(test_df)

# Combine into a DatasetDict
dataset_dict = DatasetDict({
    'train': train_ds,
    'validation': valid_ds,
    'test': test_ds
})

dataset_dict

# push data to hub
dataset_dict.push_to_hub("shawhin/phishing-site-classification")